body{
font-family: 'Poppins', sans-serif;
}


.nav-item {
    letter-spacing : .15em;
    font-size : 14px;
    text-transform : uppercase;
}

.dropdown-item{
    letter-spacing : .15em;
    font-size : 14px;
    text-transform : uppercase;
}

.my_footer p{
    padding-top : 20px;
    font-size : 14px;
}

.my_footer{
    background-color : PapayaWhip;
    height : 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.my_row{
    padding-top : 15px;
}

.my_row .mx_auto{
    color : black ;
    font-size : 12px;
}

my_image{
    width:90%;
    height:auto;
}

.my_bottom_margin{
    margin-bottom : 10px;
}

.card-body h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}

.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}

.my_prod_row_class .mx_auto{
    color:black;
    font-size:12px;
    text-decoration:none;
}

.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing: .2em;
    padding-top:15px;
    padding-bottom:10px;
}

.my_prod_text{
    padding-right:20px;
}

.my_search{
    padding-top:20px;
}

.my_custom_table{
    min-width:400px;
    font-size:14px;

}

.my_custom_thead{
    font-weight:normal;
    text_transform:uppercase;
    letter-spacing:.2em;
    background-color:PeachPuff;

}

.custom_a{
    text-decoration:none;
}

.custom_icon{
    text_decoration:none;
    color:Indigo;
}

.my_custom_button{
    margin-top:5px;
}
